@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
p.announcment_bar {
  font-weight: 900 !important;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid grey;
  text-align: center;
  letter-spacing: 1.5px;
}
